################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/game/game/bin/Debug/netcoreapp3.1/save/autosave.xml
/game/game/bin/Debug/netcoreapp3.1/Start.ini
